# Code Server - victor @ alpha6

services:
  code-server:
    image: lscr.io/linuxserver/code-server:latest
    container_name: code-alpha6-victor
    restart: unless-stopped
    
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Sao_Paulo
      - PASSWORD=alpha6dev2026
      - SUDO_PASSWORD=alpha6dev2026
      - DEFAULT_WORKSPACE=/workspace
    
    volumes:
      - /opt/v7m/projects/alpha6:/workspace:cached
      - code-victor-config:/config
    
    ports:
      - "11000:8443"
    
    networks:
      - default
      - coolify
    
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.code-alpha6-victor.rule=Host(`victor.alpha6.codesrv.m33.live`)"
      - "traefik.http.routers.code-alpha6-victor.tls=true"
      - "traefik.http.routers.code-alpha6-victor.tls.certresolver=letsencrypt"
    
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G

volumes:
  code-victor-config:
    name: alpha6-code-victor-config

networks:
  default:
    name: alpha6-code-victor-network
  coolify:
    external: true